In [4]:
import pandas as pd

In [34]:
df = pd.read_csv("resultado.csv")
df.head()

,dia,id_operador,id_ordem,habilidades_ordem,habilidades_operador,nivel_operador,horas_estimadas,horas_disponiveis,prioridade,prazo
0,1,op1,ordem75,solda | hidráulica,hidráulica | solda,júnior,6,9,média,2
1,1,op1,ordem34,hidráulica,hidráulica | solda,júnior,3,9,média,1
2,1,op2,ordem35,alvenaria,alvenaria | pintura,sênior,5,9,média,2
3,1,op2,ordem50,pintura,alvenaria | pintura,sênior,5,9,alta,4
4,1,op3,ordem91,pintura | alvenaria,pintura | hidráulica,pleno,6,7,urgente,4

In [35]:
df["habilidades_ordem"] = df["habilidades_ordem"].str.replace(" | ",",", regex=False).str.split(",")
df["habilidades_operador"] = df["habilidades_operador"].str.replace(" | ",",", regex=False).str.split(",")

def comparar_listas(lista1, lista2):
    # Diferença simétrica: elementos que estão em uma lista mas não na outra
    return list(set(lista1) - set(lista2))

def comparar_tamanho_listas(lista1, lista2):
    # Diferença simétrica: elementos que estão em uma lista mas não na outra
    diff = list(set(lista1) - set(lista2))
    return len(diff)/len(lista1)

# Aplicando a função de comparação nas colunas
df['diferenca_habilidades'] = df.apply(lambda row: comparar_listas(row['habilidades_ordem'], row['habilidades_operador']), axis=1)
df['habilidades_atendidas'] = df.apply(lambda row: comparar_tamanho_listas(row['habilidades_ordem'], row['habilidades_operador']), axis=1)

In [ ]:
# Junior atende somente prioridade baixa
condicao1 = (df["nivel_operador"] == "júnior") and (df["prioridade"] == "baixa")
condicao2 = (df["nivel_operador"].isin(["pleno", "sênior", "especialista"])) and (df["prioridade"].isin(["baixa", "média",]))
condicao3 = (df["nivel_operador"].isin(["sênior", "especialista"])) and (df["prioridade"].isin(["alta", "urgente",]))

,dia,id_operador,id_ordem,habilidades_ordem,habilidades_operador,nivel_operador,horas_estimadas,horas_disponiveis,prioridade,prazo,diferenca_habilidades,habilidades_atendidas
0,1,op1,ordem75,"[solda, hidráulica]","[hidráulica, solda]",júnior,6,9,média,2,[],0.0
1,1,op1,ordem34,[hidráulica],"[hidráulica, solda]",júnior,3,9,média,1,[],0.0
2,1,op2,ordem35,[alvenaria],"[alvenaria, pintura]",sênior,5,9,média,2,[],0.0
3,1,op2,ordem50,[pintura],"[alvenaria, pintura]",sênior,5,9,alta,4,[],0.0
4,1,op3,ordem91,"[pintura, alvenaria]","[pintura, hidráulica]",pleno,6,7,urgente,4,[alvenaria],0.5